/* for ithome.com.tw */
/* apply by adguard in Safari with ubk rules */
article.node > header > div.img-wrapper,
section#block-views-view-news-custom-submitted {
  padding-left: 30%;
}

body.page-node > div.main-container > header#page-header > h1.page-header {
  font-size: 2em !important;
  text-align: center;
  padding-top: 45px;
}