<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3DC6A2DA-AC84-4065-A46C-EF14179A7C1A_details</key>
	<false/>
	<key>Battery_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_clustersGroup</key>
	<false/>
	<key>CPU_hyperhreading</key>
	<false/>
	<key>CPU_label_position</key>
	<integer>4</integer>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_mini_position</key>
	<integer>1</integer>
	<key>CPU_oneView</key>
	<true/>
	<key>CPU_pieChart_position</key>
	<integer>2</integer>
	<key>CPU_pie_chart_label</key>
	<true/>
	<key>CPU_pie_chart_monochrome</key>
	<true/>
	<key>CPU_splitValue</key>
	<false/>
	<key>CPU_tachometer_position</key>
	<integer>3</integer>
	<key>CPU_usagePerCore</key>
	<false/>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_list</key>
	<data>
	W3sibmFtZSI6IueVtuWcsOaZgumWkyIsInR6IjoibG9jYWwiLCJlbmFibGVkIjp0cnVl
	LCJmb3JtYXQiOiJ5eXl55bm0TeaciGTml6UgSEg6bW0iLCJpZCI6IkMwODVDNjhELUIw
	ODktNDQ3RC1CQzAyLUI3MTU0MjFGMTNBQyJ9XQ==
	</data>
	<key>Clock_sensors_monospacedFont</key>
	<true/>
	<key>Clock_state</key>
	<true/>
	<key>CombinedModules</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>2</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>1</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_processes</key>
	<integer>8</integer>
	<key>Disk_removable</key>
	<true/>
	<key>Disk_speed_displayValue</key>
	<string>io</string>
	<key>Disk_speed_icon</key>
	<string>none</string>
	<key>Disk_speed_monochrome</key>
	<true/>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_updateInterval</key>
	<integer>1</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_state</key>
	<false/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va0gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAIA
	AAQAAAADAwAAAAQAAAUAAAABAQAAVXNlcnMAAAAJAAAAAQEAAGZsb3JlbmNlYQAAAAkA
	AAABAQAARGV2ZWxvcGVyAAAADgAAAAEBAABteS1tYWNvcy1idWlsZAAABwAAAAEBAABj
	b25maWdzABQAAAABBgAAEAAAACAAAAA0AAAASAAAAGAAAAAIAAAABAMAAF9CAAAAAAAA
	CAAAAAQDAADQagAAAAAAAAgAAAAEAwAA8dABAAAAAAAIAAAABAMAAHnRAQAAAAAACAAA
	AAQDAACc0QEAAAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHG
	rRqKbCFGGAAAAAECAAACAAAAAAAAAB8CAAAAAAAAHwIAAAAAAAAAAAAAAQUAAAgAAAAE
	AwAAAwAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
	bnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBxpyFJwAAACQAAAABAQAANjM3
	MkY1RTQtNDkzMi00MDQyLTg3MEItMDkzQTMwMEM4NEU4GAAAAAECAACBAAAAAQAAAO8T
	AAABAAAA7xMAAAEAAAABAAAAAQEAAC8AAAAwAAAAAQIAAGRuaWIAAAAAAQAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAHJkbGYCAAAAAAAAAPAAAAD+////AQAAAAAAAAATAAAA
	BBAAAHAAAAAAAAAABRAAANwAAAAAAAAAEBAAAAgBAAAAAAAAQBAAAPgAAAAAAAAAAiAA
	ANwBAAAAAAAABSAAAEwBAAAAAAAAECAAAFwBAAAAAAAAESAAAJABAAAAAAAAEiAAAHAB
	AAAAAAAAEyAAAIABAAAAAAAAICAAALwBAAAAAAAAMCAAACgBAAAAAAAAAcAAADABAAAA
	AAAAEcAAACAAAAAAAAAAEsAAAEABAAAAAAAAAdAAACgBAAAAAAAAENAAAAQAAAAAAAAA
	F/AAAGAAAAAAAAAAIvAAAOgBAAAAAAAA
	</data>
	<key>NSStatusItem Preferred Position CPU</key>
	<real>528</real>
	<key>NSStatusItem Preferred Position Clock</key>
	<real>78</real>
	<key>NSStatusItem Preferred Position Clock_sensors</key>
	<real>78</real>
	<key>NSStatusItem Preferred Position Disk</key>
	<real>460</real>
	<key>NSStatusItem Preferred Position Disk_speed</key>
	<real>429</real>
	<key>NSStatusItem Preferred Position Network</key>
	<real>385</real>
	<key>NSStatusItem Preferred Position Network_speed</key>
	<real>365</real>
	<key>NSStatusItem Preferred Position RAM</key>
	<real>535</real>
	<key>NSStatusItem Preferred Position RAM_bar_chart</key>
	<real>493</real>
	<key>NSStatusItem Restore Position Battery</key>
	<integer>627</integer>
	<key>NSStatusItem Restore Position Battery_battery</key>
	<integer>272</integer>
	<key>NSStatusItem Restore Position Disk_mini</key>
	<integer>385</integer>
	<key>NSStatusItem Restore Position RAM_pie_chart</key>
	<integer>456</integer>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>628 640 800 448 0 0 2056 1285 </string>
	<key>Network_ICMPHost</key>
	<string>168.95.1.1</string>
	<key>Network_publicIPRefreshInterval</key>
	<string>hour</string>
	<key>Network_speed_icon</key>
	<string>none</string>
	<key>Network_speed_monochrome</key>
	<true/>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>monochrome</string>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_label_position</key>
	<integer>6</integer>
	<key>RAM_lineChart_position</key>
	<integer>2</integer>
	<key>RAM_memory_position</key>
	<integer>7</integer>
	<key>RAM_mini_color</key>
	<string>monochrome</string>
	<key>RAM_mini_position</key>
	<integer>1</integer>
	<key>RAM_pieChart_position</key>
	<integer>5</integer>
	<key>RAM_pie_chart_label</key>
	<true/>
	<key>RAM_pie_chart_monochrome</key>
	<true/>
	<key>RAM_tachometer_position</key>
	<integer>4</integer>
	<key>RAM_text_position</key>
	<integer>3</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>Sensors_state</key>
	<false/>
	<key>clock_C085C68D-B089-447D-BC02-B715421F13AC_popupState</key>
	<false/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1739195585</integer>
	<key>telemetry</key>
	<false/>
	<key>telemetry_id</key>
	<string>36BB8BE0-8F17-4AFD-88A7-5F38DE114AA0</string>
	<key>updater_check_ts</key>
	<integer>1739201035</integer>
	<key>version</key>
	<string>2.11.30</string>
</dict>
</plist>
