<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_state</key>
	<false/>
	<key>Bluetooth_state</key>
	<false/>
	<key>CPU_barChart_position</key>
	<integer>0</integer>
	<key>CPU_bar_chart_box</key>
	<false/>
	<key>CPU_bar_chart_color</key>
	<string>monochrome</string>
	<key>CPU_bar_chart_frame</key>
	<false/>
	<key>CPU_bar_chart_label</key>
	<true/>
	<key>CPU_label_position</key>
	<integer>3</integer>
	<key>CPU_lineChart_position</key>
	<integer>5</integer>
	<key>CPU_mini_position</key>
	<integer>4</integer>
	<key>CPU_pieChart_position</key>
	<integer>1</integer>
	<key>CPU_pie_chart_label</key>
	<true/>
	<key>CPU_pie_chart_monochrome</key>
	<true/>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_label</key>
	<true/>
	<key>CPU_tachometer_monochrome</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>2</integer>
	<key>CPU_widget</key>
	<string>bar_chart</string>
	<key>Clock_list</key>
	<data>
	W3sibmFtZSI6IueVtuWcsOaZgumWkyIsImVuYWJsZWQiOnRydWUsImZvcm1hdCI6Ik3m
	nIhkZOaXpSBFRSBISDptbSIsImlkIjoiQkNCMURDQkUtN0M4OC00MjA2LUFFRjEtODdF
	RkUzMDFBNURGIiwiY2FsZW5kYXIiOiJncmVnb3JpYW4iLCJ0eiI6ImxvY2FsIn1d
	</data>
	<key>Clock_sensors_monospacedFont</key>
	<true/>
	<key>Clock_state</key>
	<true/>
	<key>CombinedModules</key>
	<false/>
	<key>CombinedModules_popup</key>
	<false/>
	<key>Disk_barChart_position</key>
	<integer>3</integer>
	<key>Disk_label_position</key>
	<integer>1</integer>
	<key>Disk_memory_position</key>
	<integer>5</integer>
	<key>Disk_mini_position</key>
	<integer>2</integer>
	<key>Disk_networkChart_position</key>
	<integer>6</integer>
	<key>Disk_pieChart_position</key>
	<integer>4</integer>
	<key>Disk_speed_icon</key>
	<string>none</string>
	<key>Disk_speed_iconColor</key>
	<string>constant</string>
	<key>Disk_speed_mode</key>
	<string>twoRows</string>
	<key>Disk_speed_monochrome</key>
	<true/>
	<key>Disk_speed_position</key>
	<integer>0</integer>
	<key>Disk_speed_valueColor</key>
	<string>none</string>
	<key>Disk_state</key>
	<true/>
	<key>Disk_text_position</key>
	<integer>7</integer>
	<key>Disk_widget</key>
	<string>speed</string>
	<key>GPU_state</key>
	<false/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{808, 296}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>788 446 911 480 0 0 2056 1290 </string>
	<key>Network_ICMPHost</key>
	<string>168.95.98.254</string>
	<key>Network_connectivityMode</key>
	<string>icmp</string>
	<key>Network_interfaceDetails</key>
	<false/>
	<key>Network_publicIPRefreshInterval</key>
	<string>hour</string>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_monochrome</key>
	<true/>
	<key>Network_state</key>
	<true/>
	<key>Network_updateICMPInterval</key>
	<integer>1</integer>
	<key>RAM_barChart_position</key>
	<integer>0</integer>
	<key>RAM_bar_chart_box</key>
	<false/>
	<key>RAM_bar_chart_color</key>
	<string>monochrome</string>
	<key>RAM_bar_chart_frame</key>
	<false/>
	<key>RAM_bar_chart_label</key>
	<true/>
	<key>RAM_combinedProcesses</key>
	<false/>
	<key>RAM_label_position</key>
	<integer>5</integer>
	<key>RAM_lineChart_position</key>
	<integer>6</integer>
	<key>RAM_memory_position</key>
	<integer>7</integer>
	<key>RAM_mini_position</key>
	<integer>3</integer>
	<key>RAM_oneView</key>
	<false/>
	<key>RAM_pieChart_position</key>
	<integer>4</integer>
	<key>RAM_pie_chart_label</key>
	<true/>
	<key>RAM_pie_chart_monochrome</key>
	<true/>
	<key>RAM_splitValue</key>
	<false/>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>1</integer>
	<key>RAM_tachometer_position</key>
	<integer>8</integer>
	<key>RAM_text_position</key>
	<integer>2</integer>
	<key>RAM_widget</key>
	<string>bar_chart</string>
	<key>Sensors_state</key>
	<false/>
	<key>clock_BCB1DCBE-7C88-4206-AEF1-87EFE301A5DF_popupState</key>
	<false/>
	<key>keep_menubar_positions</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1789436504</integer>
	<key>update-interval</key>
	<string>Silent</string>
	<key>updater_check_ts</key>
	<integer>1789436504</integer>
	<key>version</key>
	<string>3.0.16</string>
</dict>
</plist>
